<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<h1>Contact us for issues</h1>

<p>AskMe is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.</p>

<%= image_tag 'contact.jpg', size: '900x400' %>

<p>We're a little bit different from other sites. Here's how:</p>
<h3>Ask questions, get answers, no distractions</h3>

